{% extends "link_base.html" %}
{% set var_login = True %}
{% block custom_links %}
      <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/gallery.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/perfil.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sidebar-chat.css') }}" rel="stylesheet">
{% endblock %}
<body>
{% block content %}
    <!-- Barra de Tareas Horizontal -->
    <nav class="navbar navbar_color navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">Red parATI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index">Inicio</a></li>
            <li class="active"><a href="#">Perfil</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
		   <li>
			<form class="navbar-form " action="">
				<div class="input-group">
					<input  type="text" class="form-control" placeholder="Buscar amigos" >
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
				</div>
			</form>
			</li>
			<li class="dropdown">
                <a href="solicitud_amistad" class="dropdown-toggle"  >
				<i class="glyphicon glyphicon-user"></i><span   class = "label label-primary" > 3</a>
          
            </li>
			
			<li class="dropdown">
                <a href="chat" class="dropdown-toggle" >
				<i class="glyphicon glyphicon-envelope"></i><span   class = "label label-primary" > 7</a>
          
            </li>
			<li class="dropdown">
                <a href="notificaciones" class="dropdown-toggle" >
				<i class="glyphicon glyphicon-bell"></i><span   class = "label label-primary" > 10</a>
          
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Configuración<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="personalizar">Personalizar</a></li>
                <li><a href="configuracion">Configurar Cuenta</a></li>
              </ul>
            </li>
            <li><a href="loginOut">Cerrar Sesión</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="row">
      <!--Modulo de Perfil-->
      <div class="col-md-9 col-lg-9 col-xl-9 col-xs-12">
        <div id="fh5co-page">
          <aside id="fh5co-aside" role="complementary">

            <h1 class="fh5co-logo"><a href="perfil">
              <div class="useravatar">
                  <img alt="" src="{{ url_for('static', filename='img/avatar.jpg') }}">
              </div>
            </a></h1>
            <nav class="fh5co-main-menu" role="navigation">
              <ul>
                <li><a href="perfil" class="helvetica">{{nombre}}</a></li>
                <li><a href="fotos" class="helvetica">Fotos</a></li>
                <li class="fh5co-active"><a href="#" class="helvetica">Amigos</a></li>
                <li><a href="personalizar" class="helvetica">Personalizar</a></li>
                <li><a href="configuracion" class="helvetica">Configuración</a></li> 
              </ul>
            </nav>
          </aside>
          <header id="perfil-inf-sup" >
            <h1 class="fh5co-logo"><a href="perfil">
              <div class="useravatar">
                  <img alt="" src="{{ url_for('static', filename='img/avatar.jpg') }}">
              </div>
            </a></h1>
            <nav class="fh5co-main-menu" role="navigation">
              <ul>
                <li><a href="perfil" class="helvetica">{{nombre}}</a></li>
                <li><a href="fotos" class="helvetica">Fotos</a></li>
                <li class="fh5co-active"><a href="#" class="helvetica">Amigos</a></li>   
                <li><a href="personalizar" class="helvetica">Personalizar</a></li>
                <li><a href="configuracion" class="helvetica">Configuración</a></li> 
              </ul>
            </nav>
          </header>
          <div id="fh5co-main">
            <div class="bloqueBlanco" id="friends">
              <div class="row">
                <div class="shadow">
                  <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-3 useravatar">
                      <img src="{{ url_for('static', filename='img/AnneHathaway.jpg') }}">
                    </div>
                    <div class="col-sm-12 col-xl-5 col-lg-5 col-md-12 col-xs-12">
                      <h4><a href="#">Anne Hathaway</a></h4>
                      <p><a href="#">2 mutual friends</a></p>
                    </div>
                    <div class="col-sm-12 col-xl-4 col-lg-4 col-md-12 col-xs-12">
                      <button type="button" title="Chat" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></button>
                      <button type="button" title="Eliminar" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
                      <button type="button" title="Mejor Amigo" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></button>
                      <button type="button" title="Más (No disponible)" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <hr />
                  <div class="col-sm-12">
                    <div class="col-sm-3 useravatar" >
                      <img src="{{ url_for('static', filename='img/zac-efron.jpg') }}">
                    </div>
                    <div class="col-sm-12 col-xl-5 col-lg-5 col-md-12 col-xs-12">
                      <h4><a href="#">Zac Efron</a></h4>
                      <p><a href="#">3 mutual friends</a></p>
                    </div>
                    <div class="col-sm-12 col-xl-4 col-lg-4 col-md-12 col-xs-12">
                      <button type="button" title="Chat" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></button>
                      <button type="button" title="Eliminar" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
                      <button type="button" title="Mejor Amigo" class="btn btn-default"><span class="glyphicon glyphicon-star" aria-hidden="true"></button>
                      <button type="button" title="Más (No disponible)" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <hr />
                  <div class="col-sm-12">
                    <div class="col-sm-3 useravatar">
                      <img src="{{ url_for('static', filename='img/sasha.jpg') }}">
                    </div>
                    <div class="col-sm-12 col-xl-5 col-lg-5 col-md-12 col-xs-12">
                      <h4><a href="#">Sasha Lizardi</a></h4>
                      <p><a href="#">1 mutual friends</a></p>
                    </div>
                    <div class="col-sm-12 col-xl-4 col-lg-4 col-md-12 col-xs-12">
                      <button type="button" title="Chat" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></button>
                      <button type="button" title="Eliminar" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
                      <button type="button" title="Mejor Amigo" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></button>
                      <button type="button" title="Más (No disponible)" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <hr />
                  <div class="col-sm-12">
                    <div class="col-sm-3 useravatar">
                      <img src="{{ url_for('static', filename='img/josh-hutcherson.jpg') }}">
                    </div>
                    <div class="col-sm-12 col-xl-5 col-lg-5 col-md-12 col-xs-12">
                      <h4><a href="#">Josh Hutcherson</a></h4>
                      <p><a href="#">4 mutual friends</a></p>
                    </div>
                    <div class="col-sm-12 col-xl-4 col-lg-4 col-md-12 col-xs-12">
                      <button type="button" title="Chat" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></button>
                      <button type="button" title="Eliminar" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
                      <button type="button" title="Mejor Amigo" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></button>
                      <button type="button" title="Más (No disponible)" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></button>
                    </div>
                  </div>
                  <div class="clearfix" style="margin-bottom: 2em;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      <!--__________________________________INICIO_SIDEBAR_CHAT__________________________________-->

		<div class="col-sm-3 hidden-xs">
			<div class="row g4_sidechat">
				<div class="col-sm-12">
					
					<!-- Amigos en la lista de contactos lateral -->
					<div class="row g4_sidebar_friend" data-id="f1">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/AnneHathaway.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Anne Hathaway</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f2">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/josh-hutcherson.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Josh Hutcherson</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f3">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/sasha.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Sasha Lizardi</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f4">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/zac-efron.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Zac Efron</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f5">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/mark-zuckerberg.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Mark Zuckerberg</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f6">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/saul-hudson.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Saul Hudson</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f7">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/arnold-schwarzenegger.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Arnold Schwarzenegger</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f8">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/lisa-kudrow.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Regina Phalange</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f9">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/david-schwimmer.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">David Schwimmer</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f10">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/courteney-cox.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Courteney Cox</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f11">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/matt-leblanc.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Matt LeBlanc</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f12">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/jennifer-aniston.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Jennifer Aniston</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f13">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/matthew-perry.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Matthew Perry</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- Chat tabs -->
		<div class="col-xs-9 hidden-xs g4_chat_tab_container"></div>
		
		<!--__________________________________FIN_SIDEBAR_CHAT__________________________________-->
      
      
    </div>
{% endblock %}
</body>
{% block scripts %}
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/perfil.js' )}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js' )}}"></script>
  
	<!-- Script del sidebar chat -->
	<script src="{{ url_for('static', filename='js/sidebar-chat.js' )}}"></script>
{% endblock %}
