{% extends "link_base.html" %}
{% set var_login = True %}
{% block custom_links %}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/gallery.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/perfil.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sidebar-chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
  <body>
    <div class="container-fluid">
    <div class="row">
      <!--Modulo de Perfil-->
      <div class="col-md-9 col-lg-9 col-xl-9 col-xs-12">
        <div id="fh5co-page">
          <aside id="fh5co-aside" role="complementary">

            <h1 class="fh5co-logo"><a href="perfil">
              <div class="useravatar">
                  <img alt="" src="{{ url_for('static', filename='img/avatar.jpg') }}">
              </div>
            </a></h1>
            <nav class="fh5co-main-menu" role="navigation">
              <ul>
                <li><a href="perfil" class="helvetica">{{nombre}}</a></li>
                <li class="fh5co-active"><a href="#" class="helvetica">Fotos</a></li>
                <li><a href="amigos" class="helvetica">Amigos</a></li>
                <li><a href="personalizar" class="helvetica">Personalizar</a></li>
                <li><a href="configuracion" class="helvetica">Configuración</a></li> 
              </ul>
            </nav>
          </aside>
          <header id="perfil-inf-sup" >
            <h1 class="fh5co-logo"><a href="perfil">
              <div class="useravatar">
                  <img alt="" src="{{ url_for('static', filename='img/avatar.jpg') }}">
              </div>
            </a></h1>
            <nav class="fh5co-main-menu" role="navigation">
              <ul>
                <li><a href="perfil" class="helvetica">{{nombre}}</a></li>
                <li class="fh5co-active"><a href="#" class="helvetica">Fotos</a></li>
                <li><a href="amigos" class="helvetica">Amigos</a></li>
                <li><a href="personalizar" class="helvetica">Personalizar</a></li>
                <li><a href="configuracion" class="helvetica">Configuración</a></li> 
              </ul>
            </nav>
          </header>
          <div id="fh5co-main">
            <div class="fh5co-gallery">

              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_1.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_2.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_3.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_4.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_5.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_6.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_7.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_8.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>

              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_9.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_10.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_11.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_12.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>

              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_13.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_14.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_15.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
              <a class="gallery-item" href="single">
                <img src="{{ url_for('static', filename='img/work_16.jpg') }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay blanco">
                  <h2>41</h2><span class="glyphicon glyphicon-heart blanco" style="font-size: 26px;"  aria-hidden="true" ></span>
                  <h2>23</h2><span class="glyphicon glyphicon-comment blanco" style="font-size: 26px;" aria-hidden="true"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
              <!--__________________________________INICIO_SIDEBAR_CHAT__________________________________-->

		<div class="col-sm-3 hidden-xs">
			<div class="row g4_sidechat">
				<div class="col-sm-12">
					
					<!-- Amigos en la lista de contactos lateral -->
					<div class="row g4_sidebar_friend" data-id="f1">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/AnneHathaway.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Anne Hathaway</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f2">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/josh-hutcherson.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Josh Hutcherson</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f3">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/sasha.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Sasha Lizardi</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f4">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/zac-efron.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Zac Efron</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f5">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/mark-zuckerberg.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Mark Zuckerberg</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f6">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/saul-hudson.jpg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Saul Hudson</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f7">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/arnold-schwarzenegger.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Arnold Schwarzenegger</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f8">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/lisa-kudrow.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Regina Phalange</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f9">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/david-schwimmer.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">David Schwimmer</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f10">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/courteney-cox.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Courteney Cox</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f11">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/matt-leblanc.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Matt LeBlanc</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f12">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/jennifer-aniston.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Jennifer Aniston</p>
						</div>
					</div>
					
					<div class="row g4_sidebar_friend" data-id="f13">
						<div class="col-sm-4 g4_thumbnail_container">
							<img src="{{ url_for('static', filename='img/matthew-perry.jpeg') }}" class="g4_sidechat_thumbnail">
						</div>
						<div class="col-sm-8 g4_name_container">
							<p class="g4_sidechat_name">Matthew Perry</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- Chat tabs -->
		<div class="col-xs-9 hidden-xs g4_chat_tab_container"></div>
		
		<!--__________________________________FIN_SIDEBAR_CHAT__________________________________-->
		
    </div>
    </div>
</body>
{% endblock %}

{% block scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  
	<!-- Script del sidebar chat -->
  <script src="{{ url_for('static', filename='js/sidebar-chat.js') }}"></script>
{% endblock %}


















